<div class="row mt-4">
  <div class="col-lg-8 offset-2">
    <div class="card ">
      <div class="card-header">
        <span class="card-title">Login</span>
      </div>
      <form [formGroup]="form" class="card-body" (ngSubmit)="submit()">
        <div class="container-fluid">
          <div class="row my-4">
            <div class="col-4 text-right">
              <span>Email Address</span>
            </div>
            <div class="col-8">
              <input formControlName="email" type="email" class="form-control">
            </div>
          </div>
          <div class="row my-4">
            <div class="col-4 text-right">
              <span>Password</span>
            </div>
            <div class="col-8">
              <input formControlName="password" type="password" class="form-control">
            </div>
          </div>
          <div class="row my-4">
            <div class="col-8 offset-4">
              <button type="submit" class="btn btn-primary">
                Login
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-right-circle-fill ml-2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-11.5.5a.5.5 0 0 1 0-1h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5z"/>
                </svg>
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
