<div class="row mt-4">
  <div class="col-lg-8 offset-2">
    <div class="card ">
      <div class="card-header">
        <span class="card-title">Login</span>
      </div>
      <div class="card-body">
        <div class="container-fluid">
          <div class="row my-4">
            <div class="col-4 text-right">
              <span>Name</span>
            </div>
            <div class="col-8">
              <input type="text" class="form-control" placeholder="Joe Jhon">
            </div>
          </div>
          <div class="row my-4">
            <div class="col-4 text-right">
              <span>E-mail Address</span>
            </div>
            <div class="col-8">
              <input type="email" class="form-control" placeholder="admin@demo.com">
            </div>
          </div>
          <div class="row my-4">
            <div class="col-4 text-right">
              <span>Password</span>
            </div>
            <div class="col-8">
              <input type="password" class="form-control">
            </div>
          </div>
          <div class="row my-4">
            <div class="col-4 text-right">
              <span>Confirm Password</span>
            </div>
            <div class="col-8">
              <input type="password" class="form-control">
            </div>
          </div>
          <div class="row my-4">
            <div class="col-8 offset-4">
              <button type="button" class="btn btn-primary">
                Register
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-person-fill ml-2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                </svg>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
